{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking_done/" class="card mb-3" method="POST">
         
          <div class="card-body text-center pt-5">
            <img src="{{ profile.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ profile['name'] }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ week_days_ru_dict[booking_day] }}, {{ booking_time }}:00</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  {{ form.client_week_day(class='form-control', type="hidden", value=booking_day) }}
                  {{ form.client_time(class='form-control', type="hidden", value=booking_time) }}
                  {{ form.client_teacher(class='form-control', type="hidden", value=profile.uid) }}                  
              </div>

            <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
            {{ form.client_name(class='form-control') }}
            <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
            {{ form.client_phone(class='form-control') }}
            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>

        </form>
      </div>
    </div>
  </main>
{% endblock %}
