{% extends "base.html" %}
{% block main %}
<main class="container mt-3">
	<div class="card my-4 mx-auto">

		<div class="card-body m-2 m-md-4">
			<article class="row">
				<div class="col-5"><img src="{{ profile.picture }}" class="img-fluid" alt=""></div>
					<div class="col-7">

						<section class="teacher=info">
							<h1 class="h2">{{ profile.name }}</h1>

							<!-- Ничего лучше не придумал -->
							<p>
								{% for profile_goal in profile_goals %}
									{% for goal in goals %}
										{% if profile_goal == goal.name %}
										<span class="badge badge-secondary mb-2">{{ goal.ru_name }}</span>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</p>

							<p>
								Рейтинг: {{ profile.rating }} Ставка: {{ profile.price }}
							</p>
							<p>{{ profile.about }}.</p>
						</section>

						<section class="available">
							<h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

							{% for week_day_key, week_day_value in timetable.items() %}
							<h6 class="mb-2">{{ week_days_ru_dict[week_day_key] }}</h6>
								{% for week_day_time, week_day_status in week_day_value.items() %}

									{% if week_day_status == True %}
									<a href="/booking/{{ profile.uid | string }}/{{ week_day_key|string }}/{{ week_day_time | replace(':00', '') }}/" class="btn btn-success btn-sm mb-2">
									{{ week_day_time }} свободно</a>

									{% elif week_day_status == False %}
									<!-- для проверки -->
									<a href="/booking/{{ profile.uid | string }}/{{ week_day_key|string }}/{{ week_day_time | replace(':00', '') }}/" class="btn btn-secondary btn-sm mb-2">
									{{ week_day_time }} занято</a>

									{% else %}
									<p>Нет свободных уроков</p>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</section>

					</div>

			</article>
		</div>

	</div>
</main>
{% endblock %}
