{% extends "base.html" %}
{% block main %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request_done/" class="card mb-5" method="POST">
      
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
              {% for item in form.request_goal %}
                <div class="form-check ">
                    {{ item(class="form-check-input") }}
                    {{ item.label(class="form-check-label") }}
                </div>
              {% endfor %}
            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
              {% for item in form.request_time %}
                <div class="form-check ">
                    {{ item(class="form-check-input") }}
                    {{ item.label(class="form-check-label") }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          <label class="mb-1 mt-2">Вас зовут</label>
          {{ form.request_client_name(class='form-control') }}
          <label class="mb-1 mt-2">Ваш телефон</label>
          {{ form.request_client_phone(class='form-control') }}
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
  </main>
{% endblock %}
